<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto py-3 h-100">
            <h2>{{title}}</h2>
            <form [formGroup]="form" (ngSubmit)="saveCard()" class="form">
                <div class="form-floating mb-3">
                        <input type="text" class="form-control" formControlName="userName" placeholder="User Name">
                        <label for="floatingInput">User Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="cardNumber" placeholder="Card Number" maxlength="16">
                    <label for="floatingInput">Card Number</label>
                </div>     
                 <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="expirationDate" placeholder="Expiration Date" maxlength="5">
                    <label for="floatingInput">Expiration Date</label>
            </div>  
     
            <div class="text-center">
                <button type="submit" [disabled]="this.form.invalid"  class="btn btn-success m-3"><i class="fa fa-database"></i> Save</button>
                <button class="btn btn-secondary" (click)="goback()">Cancel</button>
            
            </div>
                   
            </form>
        </div>
    </div>
</div>