<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 class="m-3 p-3">List of Cards</h2>
            <table class="table table-responsive table-primary mt-3 mx-auto">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Card Number</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Options <button type="button" class="btn btn-primary">New Card</button></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of list.data.result">
                    <th scope="row">{{element.id}}</th>
                    <td>{{element.userName}}</td>
                    <td>{{element.cardNUmber}}</td>
                    <td>{{element.expirationDate}}</td>
                    <td> 
                      
                      <button type="button" class="btn btn-secondary m-1">Details</button>
                      <button type="button" class="btn btn-success m-1">Update</button>
                      <button type="button" class="btn btn-danger">Delete</button>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
