<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 class="m-3 p-3">List of Cards</h2>
            
            <table class="table table-responsive table-primary mt-3 mx-auto" *ngIf="list.data.result.length>0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Card Number</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Options  <a class="btn btn-primary" role="button" href="/create" >New Card</a></th>
                  </tr>
                </thead>
                <tbody>
                
                 
                  <tr *ngFor="let element of list.data.result">
                    <th scope="row">{{element.id}}</th>
                    <td>{{element.userName}}</td>
                    <td>{{element.cardNUmber}}</td>
                    <td>{{element.expirationDate}}</td>
                    <td> 
                      <div  class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Details</button>
                        <button type="button" class="btn btn-success" (click)="update(element)" >Update</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </div>
              
                      
                    </td>
                  </tr>
                </tbody>
              </table>
             
        </div>
    </div>
</div>
